<div class="checkbox">
    <label for="<%= field.css_id %>"><%= field.label -%>
        <input id="<%= field.css_id %>" type="<%= field.type %>" name="<%= field.html_name %>" value="<%= h field.value %>" <%= field.html_params %> />
    </label>

</div>
